<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ nombre }}</th>
                <td>uppercase</td>
                <td>{{ nombre | uppercase }}</td>
            </tr>
            <tr>
                <th scope="row">{{ nombre }}</th>
                <td>lowercase</td>
                <td>{{ nombre | lowercase }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>